body{
    background: white;
}



/**************** Header ***********************/
.navigation {
    background: #323232;   
    width: 1020px;
    height: 63px;
    position: relative;
    margin: 0 auto;
}

nav{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    border: none;
}

nav a {
    color: white;
    display: block; 
    text-decoration: none; 
    top: 2.5px;
}

.header-logo {
    position: absolute;
    top: 10px;
    right: 479px;
    left: 477px;
}

header:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 26px solid #323232;
    position: absolute;
    left: 50%;
    top: 63px;
    transform: translateX(-50%); 
}
span.circle {
    height: 2px;
    width: 2px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 2.5px;
    transform: translateX(-50%);
}

/********************************************/

/**************** Main ***********************/
.hex-container { 
    opacity:0;  
    width: 1020px;
    height: 721px;
    position: relative;
    margin: 0 auto;
}
.portfolio-container {
    background: rgba(46, 179, 152, 255);   
    width: 1020px;
    height: 341px;
    position: relative;
    margin: 0 auto;
}

/* Lines */
.hex-horizontal-right {
    width: 410px;
    top: 11px;
    right: 580px;
    left: 30px;
    position: absolute;
    border-bottom: 1px solid black;
}

.hex-horizontal-left {
    width: 410px;
    top: 11px;
    right: 30px;
    left: 580px;
    position: absolute;
    border-bottom: 1px solid black;
}

.hex-horizontal-bottom {
    width: 960px;
    top: 709px;
    right: 30px;
    left: 30px;
    position: absolute;
    border-bottom: 1px solid black;
}

.hex-vertical-right-up {
    top: 141px;
    right: 99px;
    height: 104px;
    position: absolute;
    border-left: 1px solid black;
}
.hex-vertical-left-up {
    top: 141px;
    left: 99px;
    height: 104px;
    position: absolute;
    border-left: 1px solid black;
}
.hex-vertical-right-down {
    top: 477px;
    right: 99px;
    height: 104px;
    position: absolute;
    border-left: 1px solid black;
}
.hex-vertical-left-down {
    top: 477px;
    left: 99px;
    height: 104px;
    position: absolute;
    border-left: 1px solid black;
}
/********************************************/


/**************** Footer ***********************/
.get-in-touch-container {
    background: #323232;   
    width: 1020px;
    height: 564px;
    position: relative;
    margin: 0 auto;
}

.copyright-container {
    background: url(assets/footer.png); 
    width: 1020px;
    height: 43px; 
    position: relative;
    margin: 0 auto;
}
/********************************************/